/New Folder/MVC_Sandbox/nbproject/private/
/sandbox/MVCPatternDemo/nbproject/private/
/sandbox/MVCPatternDemo/build/
/sandbox/NonBlockingRead/target/
/sandbox/ConversionTool/nbproject/private/
/sandbox/DoingMoreWithJava/nbproject/private/
/sandbox/DoingMoreWithJava/build/
/sandbox/ConversionTool/build/
/sandbox/FluidConv/nbproject/private/
/sandbox/FluidConv/build/
/sandbox/FluidConv2/nbproject/private/
/sandbox/FluidConv2/build/
/sandbox/JunitTest/nbproject/private/
/sandbox/JunitTest/build/
/sandbox/JSONExample/nbproject/private/
/sandbox/JSONFile/nbproject/private/
/sandbox/JSONFile/build/